.navbar {
  display: flex;
  justify-content: space-around;
}

.header {
  font-family: "Game of Thrones", serif;
  text-align: center;
}

.myImage {
  height: 50px;
  width: 70px;
  margin-top: 10px;
  border: solid black 2px;
  padding: 1px;  
}
.myImage:hover {
    /* opacity: 0.7; */
    height: 100%;
    width: 100%;
    position: fixed;
}
