/* body {
  font-family: "Game of Thrones", serif;  
} */

.title-name {
  font-family: "Game of Thrones", serif;
  text-align: right;
  letter-spacing: 4px;
  margin-top: 30px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: double black 5px;
  border-top: double black 5px;
  margin-bottom: 30px;
  padding-left: 30px;
  background-color: rgb(179, 181, 182);
}

.header {
  font-family: "Game of Thrones", serif;
  text-align: center;
}

.myImage {
  height: 4px;
  width: 4px;
  margin-top: 50px;
  /* border: solid black 2px; */
  /* padding: 1px;   */
}
.myImage:hover {
  /* opacity: 0.7; */
  height: 100%;
  width: 100%;
  position: absolute;
}
