.navbar {
  display: flex;
  justify-content: space-around;
}

.header {
  font-family: "Game of Thrones", serif;
  text-align: center;
}

.myImage {
  height: 50px;
  width: 70px;
  margin-top: 10px;
}
