.footer {
  font-family: "Game of Thrones", serif;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sigil {
  height: 50px;
  width: 100px;
}

.copyright {
    font-family: "Times New Roman", serif;
    margin-left: 150px;
    margin-top: 40px;
    font-size: 10px;
}
